* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

*::before,
*::after {
  box-sizing: inherit; }

html, body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

li, ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  display: inline-block; }

table {
  border-collapse: collapse; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
    -webkit-text-decoration-text-decoration: underline dotted; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inne {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted none; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cbd5e0; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cbd5e0; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cbd5e0; }

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #cbd5e0; }

input::placeholder, textarea::placeholder {
  color: #cbd5e0; }

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; }

.huddle-hero {
  overflow: hidden;
  position: relative;
  width: 100vw;
  min-height: 120vh; }
  .huddle-hero .bg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%; }
  .huddle-hero .bg-img-m {
    display: none; }
  .huddle-hero .huddle-overlay {
    background: rgba(235, 251, 255, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    min-height: 100vh;
    width: 100vw; }
    .huddle-hero .huddle-overlay .bg-img {
      width: 100%; }
    .huddle-hero .huddle-overlay .navigation {
      margin-top: 45px; }
      .huddle-hero .huddle-overlay .navigation .container {
        max-width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between; }
        .huddle-hero .huddle-overlay .navigation .container .site-name {
          display: inline-block;
          width: 170px;
          align-self: center; }
        .huddle-hero .huddle-overlay .navigation .container .try {
          align-self: center;
          background-color: #fff;
          padding: 10px 50px;
          border-radius: 35px;
          box-shadow: 0 0px 15px -3px rgba(0, 0, 0, 0.1), 0 0px 6px -2px rgba(0, 0, 0, 0.05);
          font-weight: bold; }
    .huddle-hero .huddle-overlay .flex-wrapper {
      min-height: 100%;
      max-width: 85%;
      margin: 0 auto;
      margin-top: 90px;
      display: flex; }
      .huddle-hero .huddle-overlay .flex-wrapper .fleft {
        padding-top: 50px;
        flex-basis: 41.666667%; }
        .huddle-hero .huddle-overlay .flex-wrapper .fleft .hh-heading {
          font-size: 36px;
          color: #2c5282;
          padding-right: 5%; }
        .huddle-hero .huddle-overlay .flex-wrapper .fleft .hh-content {
          font-size: 16px;
          margin-top: 25px;
          padding-right: 10%;
          color: #718096; }
        .huddle-hero .huddle-overlay .flex-wrapper .fleft .get-started {
          display: inline-block;
          margin-top: 25px;
          padding: 15px 50px;
          border-radius: 30px;
          background: #ff52bf;
          font-weight: bold;
          color: #fff;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); }
          .huddle-hero .huddle-overlay .flex-wrapper .fleft .get-started:hover {
            background: #ff529d; }
      .huddle-hero .huddle-overlay .flex-wrapper .fright {
        flex-basis: 58.333333%; }
        .huddle-hero .huddle-overlay .flex-wrapper .fright .hero-illustration {
          width: 100%; }

.vision {
  width: 100vw;
  background: #fff; }
  .vision .container {
    max-width: 77%;
    margin: 0 auto; }
    .vision .container .vision-segment {
      border-radius: 7px;
      padding: 50px 0;
      padding-left: 80px;
      padding-right: 40px;
      margin-top: 90px;
      box-shadow: 0 0px 15px -3px rgba(0, 0, 0, 0.1), 0 0px 6px -2px rgba(0, 0, 0, 0.05);
      width: 100%; }
      .vision .container .vision-segment .vision-df {
        display: flex; }
        .vision .container .vision-segment .vision-df .vision-left {
          padding-top: 50px;
          flex-basis: 50%; }
          .vision .container .vision-segment .vision-df .vision-left .gt {
            font-size: 24px;
            color: #2c5282; }
          .vision .container .vision-segment .vision-df .vision-left .gt-content {
            margin-top: 20px;
            font-size: 18px;
            color: #718096; }
        .vision .container .vision-segment .vision-df .vision-right {
          flex-basis: 50%; }
          .vision .container .vision-segment .vision-df .vision-right img {
            width: 70%;
            margin-left: auto; }
    .vision .container .second {
      margin-top: 40px; }
      .vision .container .second .vision-df {
        display: flex; }
        .vision .container .second .vision-df .vision-left {
          order: 2;
          padding-top: 50px;
          flex-basis: 50%; }
          .vision .container .second .vision-df .vision-left .gt {
            font-size: 24px;
            color: #2c5282; }
          .vision .container .second .vision-df .vision-left .gt-content {
            margin-top: 20px;
            font-size: 18px;
            color: #718096; }
        .vision .container .second .vision-df .vision-right {
          order: 1;
          flex-basis: 50%; }
          .vision .container .second .vision-df .vision-right img {
            width: 70%;
            margin-left: 0;
            margin-right: auto; }
    .vision .container .third {
      margin-top: 40px; }
    .vision .container .community {
      position: relative;
      top: 50px;
      border-radius: 8px;
      box-shadow: 0 0px 15px -3px rgba(0, 0, 0, 0.1), 0 0px 6px -2px rgba(0, 0, 0, 0.05);
      background: #fff;
      max-width: 65%;
      margin: 0 auto;
      margin-top: 30px;
      padding: 30px; }
      .vision .container .community .community-header {
        text-align: center;
        color: #2c5282;
        font-size: 32px; }
      .vision .container .community .community-link {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        display: inline-block;
        margin-top: 25px;
        padding: 15px 50px;
        border-radius: 30px;
        background: #ff52bf;
        font-weight: bold;
        color: #fff;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); }
        .vision .container .community .community-link:hover {
          background: #ff529d; }

.footer {
  color: #cbd5e0;
  background: #00252e;
  padding-top: 150px;
  padding-bottom: 10px; }
  .footer .container {
    max-width: 80%;
    margin: 0 auto;
    font-size: 14px; }
    .footer .container .footer-logo {
      width: 180px; }
    .footer .container .footer-df {
      display: flex;
      margin-top: 30px; }
      .footer .container .footer-df .footer-segments {
        flex-basis: 20%; }
        .footer .container .footer-df .footer-segments .footer-list {
          display: block;
          line-height: 2.2; }
          .footer .container .footer-df .footer-segments .footer-list:hover {
            text-decoration: underline; }
        .footer .container .footer-df .footer-segments .footer-icon-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #fff;
          border-radius: 100%;
          height: 30px;
          width: 30px; }
          .footer .container .footer-df .footer-segments .footer-icon-wrapper:hover {
            border: 1px solid #ff52bf; }
          .footer .container .footer-df .footer-segments .footer-icon-wrapper .footer-icon {
            width: 10px; }
      .footer .container .footer-df .fsa {
        flex-basis: 40%;
        padding-right: 7%; }
        .footer .container .footer-df .fsa .footer-items {
          margin-bottom: 15px;
          display: flex; }
          .footer .container .footer-df .fsa .footer-items .icon {
            position: relative;
            top: 4px;
            align-self: start;
            flex-basis: 7px;
            margin-right: 20px; }
          .footer .container .footer-df .fsa .footer-items .footer-description {
            align-self: start;
            flex-basis: 1; }
      .footer .container .footer-df .fsd {
        flex-basis: 20%;
        padding-top: 10px;
        display: flex; }
        .footer .container .footer-df .fsd .footer-icon-wrapper {
          margin-right: 10px; }
  .footer .copyright {
    text-align: right;
    font-size: 12px; }

@media (max-width: 1178px) {
  .community-header {
    font-size: 27px !important; } }
@media (max-width: 1158px) {
  .vision-left {
    padding-top: 35px !important; }

  .huddle-hero {
    min-height: 90vh !important; }

  .fleft {
    padding-top: 25px !important; } }
@media (max-width: 1118px) {
  .flex-wrapper {
    margin-top: 110px !important; }

  .get-started {
    margin-top: 20px !important;
    padding: 10px 35px !important; }

  .hh-content {
    margin-top: 15px !important; }

  .hh-heading {
    font-size: 32px !important;
    padding-right: 10% !important; }

  .fleft {
    flex-basis: 50% !important;
    padding-top: 5px !important; }

  .fright {
    flex-basis: 50% !important; } }
@media (max-width: 1050px) {
  .community {
    max-width: 80% !important; }

  .gt-content {
    font-size: 15px !important; }

  .vision .container {
    max-width: 83% !important; }

  .vision-left {
    padding-top: 15px !important; }

  .huddle-hero {
    min-height: 80vh !important; }

  .navigation .container {
    max-width: 90% !important; }

  .flex-wrapper {
    max-width: 90% !important; } }
@media (max-width: 880px) {
  .vision-segment {
    padding: 40px !important; }

  .huddle-hero {
    min-height: 135vh !important; }

  .hh-heading {
    padding-right: 0% !important; }

  .hh-content {
    padding: 0 7% !important; }

  .navigation {
    margin-top: 30px !important; }

  .flex-wrapper {
    display: block !important;
    margin-top: 70px !important; }

  .fleft {
    text-align: center;
    max-width: 93%;
    margin: 0 auto;
    margin-bottom: 30px; }

  .fright {
    max-width: 85%;
    margin: 0 auto; } }
@media (max-width: 780px) {
  .community-header {
    font-size: 24px !important; }

  .community-link {
    padding: 10px 40px !important;
    font-size: 15px !important; }

  .vision-left {
    padding-top: 6px !important; }

  .gt-content {
    margin-top: 10px !important;
    font-size: 14px !important; }

  .gt {
    font-size: 20px !important; }

  .site-name {
    width: 150px !important; }

  .try {
    padding: 8px 30px !important; }

  .hh-heading {
    font-size: 28px !important; }

  .huddle-hero {
    min-height: 125vh !important; } }
@media (max-width: 714px) {
  .fsd {
    justify-content: center; }

  .footer-logo {
    width: 150px !important; }

  footer .container {
    max-width: 90% !important; }

  .copyright {
    margin-top: 30px !important; }

  .footer-segments {
    margin-bottom: 15px; }

  .footer-df {
    display: block !important; } }
@media (max-width: 690px) {
  .community-link {
    font-size: 14px !important; }

  .community-header {
    font-size: 20px !important; }

  .community {
    max-width: 100% !important; }

  .vision .container {
    max-width: 88% !important; }

  .vision-left {
    padding-top: 0px !important; } }
@media (max-width: 640px) {
  .second, .third {
    margin-top: 30px !important; }

  .vision-right {
    margin-top: 30px !important; }
    .vision-right img {
      width: 80% !important;
      margin: 0 auto !important; }

  .vision .container {
    max-width: 75% !important; }

  .vision-df {
    display: block !important; }

  .vision-left {
    text-align: center !important; } }
@media (max-width: 500px) {
  .fsd {
    justify-content: center; }

  .footer-logo {
    width: 130px !important; }

  footer .container {
    max-width: 90% !important; }

  .copyright {
    margin-top: 30px !important; }

  .footer-segments {
    margin-bottom: 15px; }

  .footer-df {
    display: block !important; }

  .community-link {
    padding: 7px 30px !important;
    font-size: 12px !important; }

  .community-header {
    font-size: 16px !important; }

  .site-name {
    width: 100px !important; }

  .try {
    padding: 5px 20px !important;
    font-size: 14px !important; }

  .vision-right img {
    width: 95% !important; }

  .huddle-hero {
    min-height: 115vh !important; }

  .hh-heading {
    font-size: 24px !important; }

  .hh-content {
    font-size: 14px !important; }

  .vision .container {
    max-width: 90% !important; }

  .vision-segment {
    margin-top: 70px !important;
    border-radius: 5px !important; }

  .second, .third {
    margin-top: 30px !important; }

  .bg-img {
    display: none !important; }

  .bg-img-m {
    display: block !important;
    width: 100% !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%; } }
@media (max-width: 420px) {
  .huddle-hero {
    min-height: 100vh !important; } }
@media (max-width: 350px) {
  .community {
    padding: 15px !important; } }

/*# sourceMappingURL=app.css.map */
